<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="My Chemical Romance, RSVP, Convite, THe Black Parade Is Dead" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="theme-color" content="#810202" />
	<meta name="msapplication-TileColor" content="#810202" />
	<meta name="msapplication-navbutton-color" content="#810202" />
	<meta name="apple-mobile-web-app-status-bar-style" content="translucent #810202" />
	<meta name="author" content="Ana Carolina Gomes">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">
	<link rel="stylesheet" href="http://thereviewbooks.com.br/rsvp/lib/style.css" type="text/css" charset="utf-8" />
	<title>Vamos Festejar Comigo?</title>
</head>
<body>
	<section id="wrap">
		<section id="content">

			<section class="text-content">
				<h1 class="home">Bem vindo a Black Parade mcrmy</h1>
				
				<p>Vejam só, um MCRmy por aqui. Você acertou tudo e espero que você não tenha sido uma Srta. Way (por parte do Gerard), pois tenho ciúmes rs. Vamos enaltecer essas e outras bandinhas emos mortas que a gente amava e queria de volta.</p> 

				<p>Só se atente ao detalhes, a trilha sonora é <br><strong class="highlight">emo e pop/punk dos anos 2000</strong>, você deverá <strong class="highlight">se vestir de preto</strong> e o <strong class="highlight">cardápio vai ser comida mexicana</strong>, mas não precisa se preocupar que tem comida sem pimenta também.</p> 

				<p>Então te vejo no <strong>dia 02/11/2019 às 18h na <br>Rua Rafael de Aguiar, 31 casa 1, CEP 23587460.</strong></p>

				<p>
					<strong class="highlight">xoxo <br> Tiffannyk</strong>
				</p>
			</section>	
		</section>	
	</section>
</body>
</html>